<section class="row">
  <div class="container">
    <a class="btn btn-blog" href="blog">Back to Blogs</a>
    <h1>
      Exciting Futures
    </h1>
    <h3>
      October 10, 2017
    </h3>
    <p>
      This paragraph is dedicated to the bog content. I will take the
      opportunity to discuss how I have created this blog post template.
      I created a section with my `row` class to give the overall
      spacing I want for the blog page. Then I did some more things.
      Let's see if this paragraph looks correct.
    </p>
  </div>
</section>
