$def with (content)

<!DOCTYPE html> <!--Inform the browser to use latest versoin of HTML-->
<html lang="en">  <!--Element signifies beginning of document, has attribute-->
  <head>  <!--Element identifies top of document-->
    <meta charset="utf-8">
    <title>Christopher's Practice WebApp</title>
    <!--`link` element defines relationship between HTML and CSS-->
    <link rel="stylesheet" href="main.css" type="text/css">
  </head>
  <body>  <!--All visible content goes in the `body` element-->
    <header class="primary-header container group">
      <h1 class="logo">
        <a href="/">Christopher's <br> WebApp</a>
      </h1>
      <h3 class="tagline">Learning html, css, and web.py!</h3>
      <nav class="nav primary-nav">
        <a href="/">Home</a> |
        <a href="blog">Blog</a> |
        <a href="techResource.html">Technical</a> |
        <a href="randomness.html">Randomness</a> |
        <a href="register">Register</a>
      </nav>
    </header>
    $:content
    <footer class="primary-footer container group">
      <small>
        Contact: <a href="mailto:cmgrassee@gmail.com?
        subject=Contact%20From%20Site">Email Me</a>
      </small>
      <nav class="nav">
        <a href="/">Home</a> |
        <a href="blog">Blog</a> |
        <a href="techResource.html">Technical</a> |
        <a href="randomness.html">Randomness</a> |
        <a href="register">Register</a>
      </nav>
    </footer>
  </body>
</html>
