<section class="row-alt">
  <div class="topContent container">
    <h1>
      Register
    </h1>
    <p>
      Sign up to stay posted.
    </p>
  </div>
</section>

<section class="row">
  <div class="grid">
    <h1>Provide your name and email, we'll stay in touch!</h1>

    <form action="/register" method="POST">
      Your Name: <input type="text" name="name">
      <br/>
      Your email: <input type="text" name="email">
      <br/>
      Optional Message: <input type="text" name="message">
      <br/>
      <input type="submit", value="Submit">
    </form>
  </div>
</section>
