<!DOCTYPE html> <!--Inform the browser to use latest versoin of HTML-->
<html lang="en">  <!--Element signifies beginning of document, has attribute-->
    <head>  <!--Element identifies top of document-->
        <meta charset="utf-8">
        <title>Christopher's Practice WebApp</title>
        <!--`link` element defines relationship between HTML and CSS-->
        <link rel="stylesheet" href="main.css" type="text/css">
    </head>
    <body>  <!--All visible content goes in the `body` element-->
        <header>
            <!--Heading elements-->
            <h1>
                <a href="/">Christopher's WebApp</a>
            </h1>
            <h3>Learning html, css, and web.py!</h3>
            <nav>
                <a href="/">Home</a>
                <a href="blog.html">Blog Posts</a>
                <a href="techResource.html">Technical Resources</a>
                <a href="randomness.html">Randomness</a>
                <a href="register.html">Register</a>
            </nav>
        </header>

        <section>
            <h2>About me:</h2>
            <p>
                This is a webpage made by Christopher while he learns html/css.
                I will write some information about myself in this paragraph element.
                I live with my wife in Dryden, Michigan. We have two motorcycles, a boat
                and a nice blue home. In our free time we like to explore Michigan.
                I <strong>love</strong> learning new things.
            </p>

            <a href="register.html">Register Now</a>
        </section>

        <section>
            <p>
                Technical Resources.
            </p>
        </section>

        <footer>
            <nav>
                <a href="/">Home</a>
                <a href="blog.html">Blog Posts</a>
                <a href="techResource.html">Technical Resources</a>
                <a href="randomness.html">Randomness</a>
                <a href="register.html">Register</a>
            </nav>

            <small>Contact: <a href="mailto:cmgrassee@gmail.com?
                subject=Contact%20From%20Site">Email Me</a>
            </small>

        </footer>
    </body>
</html>
